
.button {
    background-color: #150494d6; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: px;
    transition-duration: 0.4s;
    
  }
  .button:hover {
    background-color: #ceccd9; /* Green */
    color: white;
  }
  .btn-primary{
    padding: 5px;
    margin: 5px;
    width: 60px;
    margin-bottom: 10px;
  }
  
   // ===============================table Css==========================/
   .left{
    float: left;
  }
  .right{
    float: right;
  }
  .textalign-center{
    text-align: center;
  }
  td {
    background-color: rgb(173, 183, 185);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 50;
}
b{
  font-weight: bold;
}
form{
  background-color: aqua;
}
div{
  padding-left: 50px;
  padding-top: 25px;
}
input{
  width: 500px;
}



