<app-header></app-header>

<form [formGroup]="myGroup"(ngSubmit)="onsubmit()">
  <div>
      <label for="fname">From Station</label><br>
      <input type="text" id="fname" name="fname"[(ngModel)]="fname" placeholder="From Station" size="50" formControlName="fname" />
      <button type="button" class="btn btn-primary btn-sm">Clear</button><br>
      <label for="fname">Go Station</label><br>
      <input type="text" name="lname" [(ngModel)]="lname" placeholder="Go Station" size="50" formControlName="lname" />
      <button type="button" class="btn btn-primary btn-sm">Clear</button><br><br>
      <button type="button" (click)="onsubmit()" [disabled]="myGroup.invalid">Submit</button>
     </div><br><br><br><br>
    <table class="table">
      <tbody>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Train [SRC-DSTN]<br>
              <span>Name</span></th>
              <th>STA<br>
              <span>STD</span></th>
              <th>ETA<br>
              <span>ETD</span></th>
              <th>Delay<br>
              <span>Hrs.</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>19038 [BJU-BDTS]<br>
              <span>AVADH EXPRESS</span></td>
              <td>21:20 24-Mar<br>
                <span>21:28 24-Mar</span></td>
              <td>23:51<br>
              <span>23:56</span></td>
              <td>02:31<br>
                <span>02:28</span></td>
            </tr>
            <tr>
              <td>19038 [BJU-BDTS]<br>
                <span>AVADH EXPRESS</span></td>
                <td>21:20 24-Mar<br>
                  <span>21:28 24-Mar</span></td>
                <td>23:51<br>
                <span>23:56</span></td>
                <td>02:31<br>
                  <span>02:28</span></td>
            </tr>
            <tr>
              <td>19038 [BJU-BDTS]<br>
              <span>AVADH EXPRESS</span></td>
              <td>21:20 24-Mar<br>
                <span>21:28 24-Mar</span></td>
              <td>23:51<br>
              <span>23:56</span></td>
              <td>02:31<br>
                <span>02:28</span></td>
            </tr>
          </tbody>
        </table>
      </tbody>
    </table>
  
  
  </form>

  