
<app-header></app-header>
<div class="about-section">
    <h1>Train Inquiry System</h1>
    <p>Therefore proposed “Train Enquiry System (TES)” has been designed to automate the process of
      railway for Train Schedule system back office activities. System can make the daily activities efficient
      and provide the fast response. The “Train Enquiry System (TES)” has been developed to override the
      problems prevailing in the practicing manual system.</p>
    <p>The complete guide to Indian Railways trains between stations.</p>
    <p>Indian railways enquiry between two stations provides a list of all available trains running on a particular route. It helps travellers make informed travel decisions.

      With a train enquiry between stations, done through a website or mobile app, the passengers can get an overview of all trains scheduled for their travel route.
      
      Train enquiry between two stations helps passengers filter train options (as per their travel preferences) for a particular route and take the best travel decision.</p>
  </div>
