
<app-header></app-header>
<div class="">
  <form [formGroup]="reactiveForm" (ngSubmit)="onSubmit()">
    <div class="col-group">
      <label for="fname">Train No./Name</label><br>
      <input type="text" value="fname" name="fname" placeholder="Train No./Name" size="50" formControlName="fname" />
      <button type="button" class="btn btn-primary btn-xs">Clear</button><br><br>
  
      <label  for="date">Select Date</label><br>
      <input  type="date" id="date" height="50" width="50" value="date" formControlName="date" /><br>
     </div>
     <div class="col-group"><button type="submit"  (click)="onSubmit()"  [disabled]="reactiveForm.invalid"  >Submit</button>
     </div>
    </form>
</div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr.</th>
        <th scope="col">Station</th>
        <th scope="col">Day</th>
        <th scope="col">Arr.Dep.</th>
        <th scope="col">Halt</th>
        <th scope="col">Dist.KMs.</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>VALSAD BL</td>
        <td>1</td>
        <td>SRC 04:05</td>
        <td>1 Min</td>
        <td>9</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>NABIPUR NL</td>
        <td>1</td>
        <td>SRC 04:05</td>
        <td>1 Min</td>
        <td>9</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Vadodara BRC</td>
        <td>1</td>
        <td>SRC 04:05</td>
        <td>1 Min</td>
        <td>9</td>
      </tr>
    </tbody>
  </table>
    
 
