
<app-header></app-header>
<div class="Container">
  <div class="row">
    <div class="column">
      <div class="card" (click)="goTotrainschedule()">
        <h3>Train Schedule</h3>
        <a class="" href="#" routerLink="/trainschedule" routerLinkActive="active" ariaCurrentWhenActive="page">Click Here</a>
        <!-- <p>Some text</p>
        <p>Some text</p> -->
      </div>
    </div>
  
    <div class="column">
      <div class="card" (click)="goTotrainbwstation()">
        <h3>Train B/W Station</h3>
        <a href="#" class=""routerLink="/trainbwstation" routerLinkActive="active" ariaCurrentWhenActive="page">Click Here</a>
        <!-- <p>Some text</p>
        <p>Some text</p> -->
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="column">
      <div class="card" (click)="goTolivestation()">
        <h3>Live Station</h3>
        <a href="#" class=""routerLink="/livestation" routerLinkActive="active" ariaCurrentWhenActive="page">Click Here</a>
        <!-- <p>Some text</p>
        <p>Some text</p> -->
      </div>
    </div>
    
    <div class="column">
      <div class="card" (click)="goTospotyourtrain()">
        <h3>Spot Your Train</h3>
        <a href="#" class="" routerLink="/spotyourtrain" routerLinkActive="active" ariaCurrentWhenActive="page">Click Here</a>
        <!-- <p>Some text</p>
        <p>Some text</p> -->
      </div>
    </div>
  </div>  
</div>