<div class="container bg-color">
    <div class="row">
      <div class="col">
        <h1 class="text-color">Train Inquriy System</h1>
      </div>
        <div class="col">
          <ul ngbNav #nav="ngbNav" class="nav-tabs">
              <li ngbNavItem >
                <a ngbNavLink>Home</a>
         <!-- <ng-template ngbNavContent>First content</ng-template> -->
              </li>
              <li ngbNavItem routerLink="about">
                <a ngbNavLink>About Us</a>
          <!-- <ng-template ngbNavContent>Second content</ng-template> -->
              </li>
          </ul>
        </div>   
    </div>
  </div>