.nav-tabs{
    float: right;
    padding: 5px;
}
.nav-link{
    color: #f8f9fa;
}

.container{
    background-color: rgb(14, 146, 96);
    
}
.text-color{
    color:#ffffff;
}
.row{
    margin: 1px;
    padding: 25px;
}
